/*!
Theme Name: Digital Noir Starter Pack
Author: Digital Noir
Author URI: https://digital-noir.com
*/

// Load Mixins
@import "default/mixins";
// variables
@import "default/variables";
// WP default styling
@import "default/default";
@import "default/bootstrap";
@import "default/fonts";
// forms
@import "default/forms";
// Part
@import "header/header";
@import "footer/footer";
// plugins
@import "plugins/woocommerce";
//pages
@import "page/__about";
@import "page/page-home";
@import "page/__contact";
@import "page/__inner-project";
@import "page/_projects";
@import "page/__main";
.page-wraper {
    flex-direction: column !important;
    display: flex;
    height: 100vh;
}

body:not(.home) {
    h1.entry-title {
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 6.4px;
        color: #292929;
        text-transform: uppercase;
        display: block;
        margin-bottom: 120px;
        @media only screen and (max-width: 991px) {
            // font-size: 9vw;
            font-size: 30px;
            margin-bottom: 33px;
        }
    }
    .page-content-wrapper {
        padding-top: 96px;
        @media only screen and (max-width: 991px) {
            padding-top: 110px;
        }
    }
}

.page-template-page-t-contact {
    .footer-socials-container {
        .each-social {
            margin-right: 12px;
            margin-bottom: 15px !important;
        }
    }
}

.footer-socials-container {
    margin-top: 50px;
    @media only screen and (max-width: 991px) {
        margin-top: 18px;
    }
    .each-social {
        height: 84px;
        width: 84px;
        border: 1px solid #000000;
        border-radius: 50%;
        display: inline-block;
        margin-right: 34px;
        margin-bottom: 10px;
        outline: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: all .3s ease-in-out !important;
        -webkit-transition: all .3s ease-in-out !important;
        -moz-transition: all .3s ease-in-out !important;
        -o-transition: all .3s ease-in-out !important;
        transition: all .3s ease-in-out !important;
        &:hover {
            background-color: rgba(0, 0, 0, 1);
            .each-social-parent {
                .footer-socials-icon {
                    >svg {
                        fill: #fff;
                    }
                }
            }
        }
        &:last-child {
            margin-right: 0;
        }
        @media only screen and (max-width: 991px) {
            height: 50px;
            width: 50px;
            margin-right: 22px;
        }
        .each-social-parent {
            display: flex;
            height: 100%;
            .footer-socials-icon {
                align-self: center;
                display: inline-block;
                margin: 0 auto;
                line-height: 0;
                &.linkedin {
                    >svg {
                        position: relative;
                        left: 0px;
                        top: -1px;
                    }
                }
                >svg {
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    height: 35px;
                    @media only screen and (max-width: 991px) {
                        height: 23px;
                    }
                }
            }
        }
    }
}