.site-footer {
    margin-top: auto;
    .footer-socials {
        text-align: center;
        padding: 11rem 0 10rem 0;
        @media only screen and (max-width: 991px) {
            padding: 50px 0 50px 0;
        }
        .footer-socials-title {
            text-align: center;
            font-weight: 300;
            font-size: 40px;
            letter-spacing: 4.8px;
            color: #000000;
            text-transform: uppercase;
            opacity: 1;
            margin-bottom: 50px;
            @media only screen and (max-width: 991px) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .footer-copyright {
        padding: 10px 50px;
        background-color: #fff;
        position: relative;
        z-index: 103;
        @media only screen and (max-width: 991px) {
            padding: 10px 0 50px 0;
        }
        span,
        a,
        p {
            color: #292929;
            //font-size: 16px;
            font-weight: 300;
            margin-bottom: 0;
            outline: 0;
            @media only screen and (max-width: 1160px) and (min-width: 991px) {
                font-size: 12px;
            }
        }
        .copy-text {
            * {
                text-decoration: none;
            }
            @include bp(991px) {
                text-align: center;
            }
        }
        .footer-link-menu {
            text-align: center;
            text-decoration: underline;
            letter-spacing: 0px;
            opacity: 1;
            text-transform: uppercase;
            ul,
            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            @include bp(991px) {
                margin: 30px 0;
            }
        }
        .digital-noir {
            text-align: right;
            a {
                font-size: 120%;
                border: none;
                text-decoration: none;
            }
            @include bp(991px) {
                text-align: center;
            }
        }
    }
}