/* About Us */

.about-title {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 6.4px;
    padding-left: 15px;
    color: #292929;
    text-transform: uppercase;
    display: block;
    margin-bottom: 120px;
    @media only screen and (max-width: 991px) {
        font-size: 30px;
        margin-bottom: 33px;
    }
}

.container-team {
    margin: auto;
    @media only screen and (min-width: 991px) {
        padding: 0 65px 96px 65px;
        margin: 0 19px;
    }
}

.team-main-title {
    font-size: 30px;
    font-weight: 500;
    font-family: Montserrat;
    letter-spacing: 3.2px;
    color: #292929;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media only screen and (max-width: 991px) {
        h2 {
            font-size: 20px;
            margin-bottom: 18px;
        }
        br {
            display: none;
        }
    }
}

.team-h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    color: #292929;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.team-p {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0px;
    color: #292929;
    font-family: 'Montserrat', sans-serif;
}

.post-content h3 {
    font-size: 16px;
    font-weight: 500;
}

.image-team {
    position: relative;
    padding-bottom: 115%;
    filter: grayscale(1);
    z-index: 4;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
    @media (max-width: 991px) {
        margin-bottom: 2rem;
        padding-bottom: 95%;
    }
     :before {
        content: '';
        display: block;
        z-index: 5;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        @media only screen and (max-width: 991px) {
            left: 5px;
            top: 5px;
        }
    }
}

.project-quote {
    width: 100%;
    position: relative;
    z-index: 10;
}

.blockquote-wrapper {
    text-align: right;
    position: relative;
    @media only screen and (max-width: 991px) {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.project-blockquote-image {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 100%;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    @media only screen and (max-width: 991px) {
        width: 100%;
    }
}

.team-bg-image {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.project-blockquote-container {
    padding-top: 50px;
    padding-bottom: 200px;
    @media only screen and (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
}

.project-blockquote {
    background-color: #ffffff;
    padding: 95px 0 95px 95px;
    width: 60%;
    position: relative;
    display: inline-block;
    text-align: left;
    @media only screen and (max-width: 991px) {
        padding: 100px 0 50px 50px;
        position: relative;
        width: 100%;
    }
    p {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        font-family: 'Montserrat';
        letter-spacing: 2.4px;
        color: #292929;
        line-height: 1.2;
        @media only screen and (max-width: 991px) {
            font-size: 16px;
        }
    }
     :before {
        background: transparent url("img/Quote.svg") scroll 0 0 no-repeat;
        content: "";
        width: 38px;
        height: 33px;
        background-color: transparent;
        display: inline-block;
        position: absolute;
        left: 30px;
        top: 30px;
        @media screen and (max-width: 991px) {
            left: 50px;
        }
    }
}

.project-blockquote-subject p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    font-style: normal;
    color: #292929;
}