/* Contact*/

.main-content {
    margin-bottom: 50px;
}

.entry-title {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 6.4px;
    color: #292929;
    text-transform: uppercase;
    display: block;
    margin-bottom: 120px;
    padding-left: 15px;
    @media only screen and (max-width: 991px) {
        font-size: 30px;
        margin-bottom: 33px;
    }
}

.borderless-textarea {
    border: none;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-title {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3.2px;
    color: #292929;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 50px;
    @media only screen and (max-width: 991px) {
        font-size: 20px;
        margin-bottom: 18px;
    }
    br {
        display: none;
    }
}

.page-content-wrap {
    padding-top: 96px;
}

.form-content #gform {
    list-style: none;
}

.content-form-sidebar {
    @media only screen and (max-width: 991px) {
        margin-bottom: 50px;
        padding-left: 0px;
    }
    a {
        text-decoration: none;
        color: #222;
    }
    p {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 14px;
        font-family: 'Montserrat';
    }
}

.gravity-section-title {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3.2px;
    color: #292929;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 50px;
    @media only screen and (max-width: 991px) {
        font-size: 20px;
        margin-bottom: 18px;
    }
    br {
        display: none;
    }
}

.form-pad {
    padding-left: 0px;
    @media only screen and (max-width: 991px) {
        .form-pad {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.form-content {
    font-family: 'Montserrat';
}

.gfield .ginput_container input,
textarea {
    padding: 15px 3px 15px 0;
    border-bottom: 1px solid #7f7f7f;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.gfield .gfield_label {
    display: block;
    position: relative;
    font-size: 14px;
    top: 30.5px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.filled {
    .gfield_label {
        font-size: 69%;
        top: 18px;
        font-style: normal;
    }
}

.send-btn {
    text-decoration: none !important;
    border: 1px solid #292929;
    background-color: transparent;
    color: #292929;
    padding: 10px 25px;
    margin-top: 10px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-appearance: none;
    border-radius: 0;
     :hover {
        border-color: #292929;
        background-color: #292929;
        color: #fff;
    }
    @media only screen and (max-width: 991px) {
        width: 100%;
    }
    .radio {
        padding-top: 16px;
        padding-bottom: 10px;
    }
}