/* Inner-project */

@import "../default/mixins";
.project-hero {
    position: relative;
    width: 100%;
    z-index: 13;
}

.section-hero {
    position: relative;
    display: block;
    z-index: 11;
}

.project-hero-image {
    height: 700px;
    width: 100%;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: gray;
    background-size: cover;
}

.short-intro-text-box {
    padding: 50px 70px;
    background-color: #292929;
    margin-top: -100px;
    margin-bottom: -50px;
    margin-right: 7vw;
    margin-left: 3vw;
    @media only screen and (max-width: 991px) {
        padding: 20px;
        margin-top: -30px;
        margin-bottom: -30px;
        margin-right: 4vw;
        margin-left: 0;
    }
}

.short-intro-text {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3.2px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    @media only screen and (max-width: 991px) {
        font-size: 16px;
    }
}

.single-project-title {
    background: rgba(0, 0, 0, 0);
    color: #000;
    transition: font-size .3s ease-in-out;
    -webkit-transition: font-size .3s ease-in-out;
    -moz-transition: font-size .3s ease-in-out;
    -o-transition: font-size .3s ease-in-out;
    z-index: 19;
    position: fixed;
    padding: 0;
    top: 0;
    transform: rotate(-90deg) translatey(-50%);
    -webkit-transform-origin: right top;
    transform-origin: right right;
    right: 6vw;
    width: 95vh;
    text-align: right;
    padding-right: 95px;
    height: 13vw;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 9;
    @media only screen and (max-width: 1750px) {
        right: 3vw;
        height: 7vw;
    }
    @media only screen and (max-width: 1390px) {
        right: 3.4vw;
        height: 10vw;
    }
    @media only screen and (max-width: 991px) {
        padding-right: 140px;
        right: 5.4vw;
        height: 10vw;
    }
    .single-project-title-child {
        font-size: 60px;
        font-family: Montserrat;
        margin-bottom: 0;
        align-self: center;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 300;
        @media only screen and (max-width: 1750px) {
            font-size: 40px;
            line-height: 1;
        }
        @media only screen and (max-width: 1390px) {
            font-size: 40px;
            line-height: 1;
        }
        @media only screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
}

.image-divider {
    position: relative;
    height: 600px;
    width: 150%;
    margin-top: -350px;
    position: relative;
    right: -15px;
    z-index: 10;
}

.featured-content {
    padding-top: 250px;
    overflow: hidden;
    width: 100%;
    .section-featured {
        background-color: #f7f1eb;
        padding: 100px 0;
    }
}

.quotation-content {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 60px;
    bottom: -60px;
    .project-blockquote-wrapper {
        text-align: right;
        position: relative;
    }
    .blockquote-subject {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.44px;
        color: #292929;
    }
}

.vertical-images {
    padding: 100px 0 120px;
    position: relative;
}

.vertical-image {
    height: 1000px;
    width: 100%;
    position: relative;
}

.image-left-side {
    right: -50px;
    z-index: 5;
    top: 60px;
}

.image-right-side {
    left: -50px;
    z-index: 4;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section-project-horizontal {
    height: 700px;
    margin-top: 100px;
    position: relative;
    z-index: 10;
}

.section-project-gallery {
    margin-bottom: 60px;
    @include bp(1200px) {
        margin-bottom: 30px;
    }
    @include bp(767px) {
        margin-bottom: 15px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
        display: flex;
        flex-wrap: wrap;
        @include bp(1200px) {
            margin-left: -4px;
            margin-right: -4px;
        }
    }
    .col-gallery {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        @include bp(1200px) {
            padding-left: 4px;
            padding-right: 4px;
        }
        @include bp(767px) {
            width: 100%!important;
        }
        .inner {
            position: relative;
            padding-bottom: 62.5%;
            height: 100%;
        }
    }
    &.layout-two_bs,
    &.layout-two_natural_bs {
        .col-gallery.first-image {
            width: 66.666%;
        }
        .col-gallery.second-image {
            width: 33.333%
        }
    }
    &.layout-two_sb,
    &.layout-two_natural_sb {
        .col-gallery.first-image {
            width: 33.333%
        }
        .col-gallery.second-image {
            width: 66.666%;
        }
    }
    &.layout-three {
        .col-gallery {
            width: 33.333%;
            @include bpm(768px) {
                .inner {
                    padding-bottom: 137.5%;
                }
            }
        }
    }
    &.layout-two_bs {
        margin-bottom: 120px;
        @include bp(1200px) {
            margin-bottom: 60px;
        }
        @include bp(767px) {
            margin-bottom: 15px;
        }
        .col-gallery.first-image {
            position: relative;
            top: 60px;
            @include bp(1200px) {
                top: 30px;
            }
            @include bp(767px) {
                top: 0;
            }
        }
    }
    &.layout-two_sb {
        margin-bottom: 120px;
        @include bp(1200px) {
            margin-bottom: 60px;
        }
        @include bp(767px) {
            margin-bottom: 15px;
        }
        .col-gallery.second-image {
            position: relative;
            top: 60px;
            @include bp(1200px) {
                top: 30px;
            }
            @include bp(767px) {
                top: 0;
            }
        }
    }
    @include bp(767px) {
        .second-image {
            margin-top: 15px;
        }
        .third-image {
            margin-top: 15px;
        }
    }
}