/* Global*/

.body {
    height: 100vh;
}

.page-wraper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 991px) {
        height: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    clear: both;
    font-family: 'Montserrat', sans-serif;
}

// .container {
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

/* @media (min-width: 1200px) {
    .container {
        max-width: 1600px;
        padding-right: 90px;
        padding-left: 90px;
        width: 100%;
    }
} */

@media (max-width: 1420px) and (min-width: 992px) {
    .container {
        padding-right: 65px;
        padding-left: 65px;
    }
}


/* Footer */

.each-social-parent {
    display: flex;
    height: 100%;
}

.each-social {
    height: 84px;
    width: 84px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 34px;
    margin-bottom: 10px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s ease-in-out !important;
    -webkit-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

@media only screen and (max-width: 991px) {
    .footer-socials-container .each-social {
        height: 50px;
        width: 50px;
        margin-right: 22px;
    }
}

.footer-socials {
    text-align: center;
    padding: 11rem 0 10rem;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .footer-socials {
        padding: 50px 0;
    }
}

.footer-socials-container {
    display: inline-flex;
    margin-top: 50px;
}

@media only screen and (max-width: 991px) {
    .footer-socials-container {
        margin-top: 18px;
    }
}

.footer-socials-title {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 4.8px;
    color: #000;
    text-transform: uppercase;
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    .footer-socials .footer-socials-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.site-main:after {
    content: '';
    display: table;
    width: 100%
}

.social-icon {
    align-self: center;
    display: inline-block;
    margin: 0 auto;
    line-height: 0;
}

@media only screen and (max-width: 991px) {
    .footer-socials-container .each-social .each-social-parent .social-icon>svg {
        height: 23px;
    }
}

.each-social svg {
    transition: all .3s ease-in-out;
}

.each-social:hover svg {
    fill: white;
}

.each-social:hover {
    background-color: #292929;
}

.footer-copyright {
    padding: 10px 50px;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

@media only screen and (max-width: 991px) {
    .footer-copyright {
        padding: 10px 0 50px;
    }
}

.footer-copyright .copy-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.footer-copyright .copy-text * {
    text-decoration: none;
}

.footer-copyright .copy-text a {
    color: #292929;
    cursor: pointer;
}

@media (max-width: 991px) {
    .footer-copyright .copy-text {
        text-align: center;
    }
}

.footer-copyright .footer-privacy {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0px;
    opacity: 1;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-copyright .footer-privacy a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #292929;
}

.footer-copyright .digital-noir {
    text-align: right;
}

@media (max-width: 991px) {
    .footer-copyright .digital-noir {
        text-align: center;
    }
}


/*Content*/

.page-content-wrap,
.site-content,
.site-main {
    height: 100%;
}

.home-wrapper {
    height: 100%;
    padding: 15px;
}

.home-wrapper-left {
    width: 600px;
    float: left;
    padding-left: 100px;
    padding-right: 40px;
}

@media only screen and (max-width: 991px) {
    .home-wrapper-left {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        float: none;
        min-height: 370px;
        padding-top: 100px;
    }
}

@media only screen and (max-width: 991px) and (max-height:650px) {
    .home-wrapper-left {
        height: 325px;
    }
}

.home-wrapper-right {
    width: calc(100% - 600px);
    float: right;
    height: 100%;
    padding: 0;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .home-wrapper-right {
        min-height: calc(100vh - 370px);
        height: 200px;
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 991px) and (max-height:650px) {
    .home-wrapper-right {
        height: calc(100vh - 325px);
    }
}

.main-banner-parent {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    position: relative;
}

.main-banner-child {
    align-self: center;
    display: inline-block;
    justify-content: right;
}

@media only screen and (max-width: 991px) {
    .main-banner-child {
        display: block;
    }
}

.main-banner-content {
    max-width: 400px;
    padding-left: 80px;
    margin-top: 270px;
}

@media only screen and (max-width: 991px) {
    .main-banner-content {
        max-width: 100%;
        margin-top: 0;
        padding-left: 25vw;
        max-height: 220px;
    }
}

.main-banner-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #292929;
    font-weight: 300;
    padding: 60px 0px;
    margin: 0px;
}

@media only screen and (max-width: 991px) {
    .main-banner-content {
        padding: 40px 0;
    }
}

@media only screen and (max-width: 991px) {
    .main-banner-content {
        max-width: 100%;
        margin-top: 0;
        padding-left: 25vw;
    }
}

@media only screen and (max-width: 991px) {
    .main-banner-content p {
        font-size: 16px;
        line-height: 1.5;
    }
}

#home-title {
    width: 800px;
    height: 270px;
    position: absolute;
    left: 0;
    font-weight: 300;
    line-height: 1.05em;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    text-align: left;
    font-size: 80px;
    margin-left: 40px;
    padding: 0px;
    z-index: 5;
}

@media only screen and (max-width: 991px) {
    #home-title {
        position: static;
        left: auto;
        top: 10px;
        z-index: 100;
        font-size: 30px;
        letter-spacing: 2.4px;
        width: auto;
        height: 40px;
    }
}

@media only screen and (max-width: 991px) and (max-height:650px) {
    #home-title {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    #home-title {
        left: 0;
    }
}

.home-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #fff;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url("../img/home1.jpg");
}

.pax-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 0px;
    padding: 10px 25px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .pax-btn {
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 15px;
        z-index: 20;
        background-color: #fff;
        border: 1px solid #fff;
        color: #292929;
    }
}

.pax-btn:hover {
    background-color: #292929;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.4s ease-in-out 0s;
}

@media only screen and (max-width: 991px) {
    pax-btn:hover {
        background-color: #292929;
        border: 1px solid #292929;
        color: #ffffff;
    }
}