/*Projects*/

body:not(.home) h1.entry-title {
    @media only screen and (max-width: 991px) {
        padding-left: 15px;
    }
}

.project-container {
    overflow: hidden;
    .each-project {
        margin-bottom: 200px;
        position: relative;
        .each-project-image {
            //background-image: url('../images/image.png');
            background-attachment: scroll;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: #dedede;
            background-size: cover;
            height: 500px;
            position: relative;
            -webkit-filter: grayscale(1);
            filter: unset;
            filter: grayscale(1);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            @media only screen and (max-width: 991px) {
                height: 250px;
            }
        }
        &.active {
            .each-project-image {
                -webkit-filter: grayscale(0);
                filter: unset;
                filter: grayscale(0);
            }
        }
        @media only screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.style-one {
            left: 25px;
            @media only screen and (max-width: 991px) {
                left: -25px;
            }
            .project-left {
                @media only screen and (max-width: 991px) {
                    padding-left: 75px;
                    left: -20px;
                }
            }
        }
        &.style-two {
            right: 25px;
            @media only screen and (max-width: 991px) {
                right: -25px;
            }
            @media only screen and (max-width: 991px) {
                text-align: left;
            }
            .project-left {
                text-align: right;
                @media only screen and (max-width: 991px) {
                    text-align: left;
                    left: -10px;
                }
            }
            .project-right {
                text-align: right;
                @media only screen and (max-width: 991px) {
                    text-align: right;
                    padding-right: 65px;
                }
            }
        }
        .project-detail {
            @media only screen and (max-width: 991px) {
                margin-bottom: 15px;
            }
            .project-left {
                .project-counter {
                    font-size: 30px;
                    font-weight: 300;
                    font-style: italic;
                    font-family: Montserrat;
                    @media only screen and (max-width: 991px) {
                        font-size: 16px;
                    }
                }
            }
            .project-right {
                @media only screen and (max-width: 991px) {
                    text-align: right;
                }
                h2 {
                    @media only screen and (max-width: 991px) {
                        font-size: 16px;
                        margin-bottom: 0;
                        font-weight: 500;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
        h2 {
            font-size: 40px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .each-project-wrapper {
            position: relative;
            display: block;
            line-height: 0;
            each-project-image {
                position: relative;
                z-index: 5;
                line-height: 0;
            }
            &.project-style-1 {
                .each-project-image {
                    top: -20px;
                    left: -20px;
                    @media only screen and (max-width: 991px) {
                        top: -10px;
                        left: -10px;
                    }
                }
            }
            &.project-style-2 {
                .each-project-image {
                    bottom: 20px;
                    right: -20px;
                    @media only screen and (max-width: 991px) {
                        bottom: 10px;
                        right: 10px;
                    }
                }
            }
            &:hover {
                &.project-style-1 {
                    .each-project-image {
                        top: 0;
                        left: 0;
                    }
                }
                &.project-style-2 {
                    .each-project-image {
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            .project-border {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border: 1px solid #000000;
                z-index: 10;
            }
        }
    }
}