.home {
    .page-content-wrapper {
        padding-top: 0 !important;
    }
}

body.page-template-page-t-home {
    .page-content-wrapper,
    .site-content,
    .site-main {
        height: 100%;
    }
    .page-wraper .site-content {
        #main.site-main {
            @media only screen and (max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                .main-banner-parent {
                    height: auto;
                }
            }
        }
    }
}

body {
    .page-wraper {
        height: 100vh;
        @media only screen and (max-width: 991px) {
            height: auto;
        }
        .home-wrapper {
            height: 100%;
            padding: 15px;
            &.home-wrapper-left {
                width: 600px;
                float: left;
                padding-left: 100px;
                padding-right: 40px;
                @media only screen and (max-width: 991px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;
                    float: none;
                    min-height: 370px;
                    padding-top: 100px;
                }
                @media only screen and (max-width: 991px) and (max-height:650px) {
                    height: 325px;
                }
            }
            &.home-wrapper-right {
                width: calc(100% - 600px);
                float: right;
                height: 100%;
                padding: 0;
                position: relative;
                @media only screen and (max-width: 991px) {
                    min-height: calc(100vh - 400px);
                    height: 200px;
                    width: 100%;
                    float: none;
                }
                @media only screen and (max-width: 991px) and (max-height:650px) {
                    height: calc(100vh - 325px);
                }
            }
        }
        .main-banner-parent {
            display: flex;
            height: 100%;
            flex-direction: row-reverse;
            position: relative;
            .homepage-button {
                font-weight: 500;
                @media only screen and (max-width: 991px) {
                    position: fixed;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    z-index: 20;
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: #292929;
                }
                &:hover {
                    @media only screen and (max-width: 991px) {
                        background-color: #292929;
                        border: 1px solid #292929;
                        color: #ffffff;
                    }
                }
            }
            .main-banner-child {
                align-self: center;
                display: inline-block;
                justify-content: right;
                @media only screen and (max-width: 991px) {
                    display: block;
                }
                .main-banner-title {
                    text-align: left;
                    letter-spacing: 6.4px;
                    color: #292929;
                    text-transform: uppercase;
                    opacity: 1;
                    font-weight: 300;
                    position: absolute;
                    width: 800px;
                    z-index: 5;
                    font-size: 80px;
                    left: 35px;
                    margin-bottom: 0;
                    @media only screen and (max-width: 991px) {
                        position: static;
                        left: auto;
                        top: 10px;
                        z-index: 100;
                        font-size: 30px;
                        letter-spacing: 2.4px;
                        width: auto;
                    }
                    @media only screen and (max-width: 991px) and (max-height:650px) {
                        font-size: 24px;
                        margin-bottom: 5px;
                    }
                    @media only screen and (max-width: 1200px) and (min-width: 992px) {
                        left: 0;
                    }
                }
                .main-banner-content {
                    max-width: 400px;
                    margin-top: 270px;
                    padding-left: 80px;
                    @media only screen and (max-width: 991px) {
                        max-width: 100%;
                        margin-top: 0;
                        padding-left: 25vw;
                    }
                    .teaser--home {
                        padding: 60px 0;
                        @media only screen and (max-width: 991px) {
                            padding: 40px 0;
                            margin-top: -75px;
                        }
                    }
                    p {
                        font-size: 16px;
                        font-family: Montserrat;
                        font-weight: 300;
                        letter-spacing: 0px;
                        color: #292929;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        @media only screen and (max-width: 991px) {
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                    .dn-button {
                        display: inline-block;
                    }
                }
            }
        }
    }
}