@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?gehncl");
    src: url("fonts/icomoon.eot?gehncl#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?gehncl") format("truetype"), url("fonts/icomoon.woff?gehncl") format("woff"), url("fonts/icomoon.svg?gehncl#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    @include icomoon-font();
}

.icon-DN_black:before {
    content: "\e919";
}

.icon-checked:before {
    content: "\e917";
}

.icon-map:before {
    content: "\e913";
}

.icon-share:before {
    content: "\e914";
}

.icon-youtube:before {
    content: "\e90a";
}

.icon-vimeo:before {
    content: "\e90b";
}

.icon-skype:before {
    content: "\e90c";
}

.icon-google-plus:before {
    content: "\e90d";
}

.icon-linkedin:before {
    content: "\e90e";
}

.icon-instagram:before {
    content: "\e90f";
}

.icon-twitter:before {
    content: "\e910";
}

.icon-pinterest:before {
    content: "\e911";
}

.icon-facebook:before {
    content: "\e912";
}

.icon-close:before {
    content: "\e918";
}

.icon-minus:before {
    content: "\e906";
}

.icon-plus:before {
    content: "\e905";
}

.icon-chevron-right:before {
    content: "\e901";
}

.icon-chevron-left:before {
    content: "\e902";
}

.icon-chevron-down:before {
    content: "\e903";
}

.icon-chevron-up:before {
    content: "\e904";
}

.icon-search:before {
    content: "\e900";
}

.icon-mail:before {
    content: "\e915";
}

.icon-clock:before {
    content: "\e916";
}

.icon-checkmark:before {
    content: "\e909";
}

.icon-paperplane:before {
    content: "\e907";
}

.icon-shopping-cart:before {
    content: "\e908";
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');