@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body {
    font-family: 'Hanna', sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.magenta {
    color: #FF0066;
}

.yellow {
    color: #F8E71C;
}

.lowercase {
    text-transform: lowercase;
}

.container {
    max-width: 1380px;
    margin-right: auto;
    margin-left: auto;
}

.site-header {
    padding: 30px;
    border-bottom: 1px solid #ccc;
}

.header-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo,
.language-select {
    display: block;
    width: 80px;
}

.language-select {
    text-align: right;
    font-size: 12px;
}

.menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.menu-item {
    margin-left: 15px;
    margin-right: 15px;
    text-transform: lowercase;
}

.hero {
    padding-top: 160px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 220px;
    background-image: url(../assets/intro-bg.svg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    font-size: 180px;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}

.hero-sitename {
    color: #000;
}

.hero-description {
    position: absolute;
    margin: 0;
    bottom: 48px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.intro {
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 310px;
    padding-bottom: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

.intro-inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.20);
}

.intro-title {
    font-size: 36px;
    border-bottom: 3px solid #fff;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 48px;
    display: inline-block;
    text-transform: lowercase;
}

.intro-description {
    margin: 0;
    font-size: 50px;
    line-height: 1;
}

.entry-header {
    padding: 10px;
    background-color: #FF0066;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-title,
.entry-price {
    font-size: 16px;
    color: #FFF;
    margin: 0;
    line-height: 1;
    z-index: 2;
}

.entry-content p {
    margin: 0;
}

.entry-title {
    text-transform: lowercase;
}

.post {
    position: relative;
    padding-top: 60px;
}

.entry-number {
    position: absolute;
    left: 50%;
    top: 0;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: solid 20px #ff0064;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0064;
    z-index: 1;
}

.wp-post-image {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    display: block;
}

.post-thumbnail {
    display: block;
    pointer-events: none;
}

.section-heading {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px #ccc;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.location-info {
    display: flex;
    align-items: center;
}

.location-description {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.location-description h3 {
    font-size: 12px;
    margin: 0;
}

.location-description p {
    margin-top: 0;
    margin-bottom: 20;
}

.map-inner {
    position: relative;
    padding-bottom: 75%;
}

.map-inner iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}

.site-footer {
    margin-top: 50px;
    padding: 50px 30px 20px 30px;
    border-top: 1px solid #ccc;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.site-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
}

.social-link,
.social-link img {
    display: block;
}

.social-link {
    margin-left: 5px;
}


/* 
1220px wide 
2x3 grid 
*/

@media (max-width: 1100px) {
    .entry-number {
        width: 60px;
        height: 60px;
        border-width: 15px;
    }
    .post {
        padding-top: 45px;
    }
    .hero {
        padding-top: 100px;
        padding-bottom: 160px;
        margin: 0;
    }
    .hero-text {
        font-size: 90px;
    }
    .intro {
        padding-top: 105px;
        padding-bottom: 125px;
    }
    .intro-title,
    .intro-description {
        font-size: 4vw;
    }
}

@media (max-width:680px) {
    .site-header {
        padding: 20px;
    }
    .logo,
    .language-select {
        width: 50px;
    }
    .menu-item {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .menu-item span {
        display: none;
    }
    .hero {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-text {
        font-size: 64px;
    }
    .hero-description {
        font-size: 16px;
    }
    .intro {
        padding-top: 85px;
        padding-bottom: 105px;
    }
    .intro-title {
        font-size: 21px;
        margin: 20px;
    }
    .intro-description {
        font-size: 36px;
    }
    .intro-description br {
        display: none;
    }
}

@media (max-width: 480px) {
    .entry-number {
        width: 30px;
        height: 30px;
        border-width: 4px;
    }
    .post {
        padding-top: 19px;
    }
    .hero {
        padding-top: 60px;
        padding-bottom: 120px;
        margin: 0;
    }
    .hero-description {
        bottom: 20px;
    }
}