/* Burger */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
}

.hamburger:hover,
.hamburger:focus {
    background: initial;
    border-color: initial;
    color: initial;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #292929;
}

.hamburger-box {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 15px;
    height: 15px;
    background-color: #292929;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger--slider .hamburger-inner {
    top: 0;
    right: 0;
}

.hamburger-inner::before {
    bottom: -20px;
}

.hamburger-inner::after {
    bottom: -20px;
    left: -20px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(5px, 15px, 0) rotate(45deg);
    width: 45px;
    height: 4px;
}

.hamburger--slider.is-active .hamburger-inner::before {
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(20px, -20px, 0) rotate(90deg);
    width: 45px;
    height: 4px;
}