// load default burger 
@import "burger";
.site-branding,
.main-navigation {
    position: relative;
    z-index: 5;
}

body.header-stuck {
    .menu-blocky {
        //padding: 1em; // on sticky header
        transform: translateY(0%);
    }
}

// this duplicated menu only appear when page scrolled
.menu-on-scroll {
    position: fixed;
    top: 0;
    left: 0;
    @include transition;
    transform: translateY(-100%);
}

body.mobile-menu-open {
    #menu-blocky-resp {
        transform: translateY(0%);
    }
}

.menu-blocky {
    color: #000;
    //padding: 2em;
    display: inline-block;
    z-index: 19;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    max-width: 50px;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    margin-left: 15px;
    padding: 10px;
    @media only screen and (max-width: 991px) {
        z-index: 408;
        margin-left: 0;
        padding: 15px;
    }
    .line-wrapper {
        overflow: hidden;
        margin-right: 90px;
        padding-left: 90px;
    }
    @media only screen and (max-width: 991px) {
        &:after {
            content: "";
            height: 2px;
            background-color: #292929;
            display: inline-block;
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 0;
        }
    }
    // on tablet and below disable header stuck
    @include bp(1200px) {
        //padding: 1em;
    }
    @include bp(991px) {
        position: fixed;
        right: 0;
        left: 0;
        height: 70px;
        display: block;
        max-width: 100%;
        padding: 10px 15px;
        background-color: #fff;
    }
    /// Blocky header style on fixed when on tablet below
    // The real content padding
    +.page-content-wrapper {
        padding-top: 0;
        @include bp(1200px) {
            padding-top: 0;
        }
        @include bp(991px) {
            // padding-top: $header-height-sm;
            padding-top: 45px;
        }
        @include bp(767px) {
            // padding-top: $header-height-xs;
            padding-top: 45px;
        }
    }
    .site-branding {
        padding: 15px 0;
        position: relative;
        left: 5px;
        a {
            outline: 0;
        }
        @include bp(991px) {
            left: auto;
        }
        @include bp(991px) {
            padding: 0;
            width: auto;
            ;
            position: absolute;
            top: 50%;
            z-index: 100;
            -moz-transform: translatey( -50%);
            -o-transform: translatey( -50%);
            -ms-transform: translatey( -50%);
            -webkit-transform: translatey( -50%);
            transform: translatey( -50%);
        }
        img {
            display: block;
            @include transition(opacity $main-transition-time $main-transition-type);
            @include bp(1200px) {
                height: 50px;
                width: auto;
                margin: 0 auto;
            }
            @include bp(991px) {
                margin: 0;
                height: 35px;
            }
        }
    }
    .menu-blocky-main-navigation {
        position: absolute;
        top: 95%;
        width: 100vh;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* -webkit-transform-origin: 0; */
        transform-origin: 15px;
        ul {
            margin: 0;
            margin: 0;
            padding: 0 15px;
            position: relative;
            display: inline-block;
            &:after,
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 50%;
                height: 1px;
                width: 500%;
                background-color: #969696;
            }
            &:after {
                right: 100%;
            }
            &:before {
                left: 100%;
            }
            li {
                font-size: 1.25em;
                margin: 0;
                text-align: center;
                padding: 20px 0; // adjust with design
                //width: 16.67%; // calculate with the amount of the menu
                display: inline-block;
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
                &.current-menu-item,
                &.current_page_item {
                    a {
                        font-weight: 700;
                    }
                }
                &:not(.current-menu-item),
                &:not(.current-menu-item) {
                    a {
                        &:hover {
                            bottom: -5px;
                        }
                    }
                }
                // add this class to Appearance > Menu
                &.highlight {
                    background-color: $dn-primary-color;
                    border-left: none;
                    +li {
                        border-left: none;
                    }
                }
                &:first-child {
                    border-left: none;
                }
                a {
                    text-align: center;
                    font-size: 16px;
                    font-family: Montserrat;
                    font-weight: 300;
                    letter-spacing: 1.44px;
                    color: #292929;
                    text-transform: uppercase;
                    opacity: 1;
                    text-decoration: none;
                    // @include transition(all $main-transition-time $main-transition-type);
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    -moz-transition: all 0.4s ease-in-out 0s;
                    -ms-transition: all 0.4s ease-in-out 0s;
                    -o-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                    position: relative;
                    bottom: 0;
                    padding-top: 20px;
                }
            }
            li.social-wrapper {
                width: 300px; // based on social width
                display: inline-block; // ensure this part using defined width
                @include bp(1400px) {
                    width: 200px;
                }
                ul {
                    margin: 0;
                    padding: 0 30px;
                    li {
                        border: none;
                        color: #fff;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .social-link {
        a {
            line-height: 1;
            font-size: 80%;
            margin: 0 .5em;
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    @include bp-print() {
        position: relative;
    }
}

#menu-blocky-resp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 400;
    overflow: auto;
    transform: translateY(-100%);
    display: block;
    color: #fff;
    @include transition(transform $main-transition-time $main-transition-type);
    /*
    padding-top: $header-height-lg;

    @include bp(1200px){
        padding-top: $header-height-md;
    }*/
    @include bp(991px) {
        padding-top: $header-height-sm;
    }
    @include bp(767px) {
        padding-top: $header-height-xs;
    }
    // styling
    ul li {
        font-size: 30px;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: $dn-primary-color;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: $dn-primary-color;
            }
        }
        ul.sub-menu li {
            font-size: .75em;
            margin: .5em 0;
        }
        &.current_page_parent,
        &.current-menu-item,
        &.current-menu-ancestor,
        &:hover {
            >a {
                color: $dn-primary-color;
            }
        }
    }
    .mobile-menu-wrapper {
        display: table;
        height: 100%;
        padding: 2em 2em;
        vertical-align: middle;
        @include bp(991px) {
            width: 100%;
            text-align: left;
        }
        .mobile-menu-holder {
            display: table-cell;
            vertical-align: middle;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    .social-navigation {
        padding: 20px 0;
        a {
            color: #fff;
            text-decoration: none;
            margin: 0 0.5em;
        }
    }
}

.burger-menu-blocky {
    display: inline-block;
    vertical-align: middle;
    @include bp(991px) {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 100;
        -moz-transform: translatey( -50%);
        -o-transform: translatey( -50%);
        -ms-transform: translatey( -50%);
        -webkit-transform: translatey( -50%);
        transform: translatey( -50%);
    }
    .hamburger {
        text-align: right;
        .hamburger-box {
            vertical-align: middle;
        }
    }
}